//Mixin responsive
@media only screen and (min-width:375px) {
   .body {
     grid-template-areas: 
          "n"
          "j"
          "a"
          "c"
          "p"
          "f";
    grid-gap: 5px;
  }
}
@media only screen and (min-width:768px) {
   .body {
     grid-template-areas: 
          "n"
          "j"
          "a"
          "c"
          "p"
          "f";
    grid-gap: 10px;
  }
}
@media only screen and (min-width:1030px) {
   .body {
     grid-template-areas: 
          "n"
          "j"
          "a"
          "c"
          "p"
          "f";
    grid-gap: 15px;
  }
}
@media only screen and (min-width:1240px) {
   .body {
     grid-template-areas: 
          "n"
          "j"
          "a"
          "c"
          "p"
          "f";
    grid-gap: 20px;
  }
}

// ANCHOR SASS variables
$primary-color: #adc5ce;
$secondary-color: #2b98c0;;
$dark-color: #092e3b;
$border-color: #d8ebf1;;
$bg-body-color: #a1a9ac;;
$text-color: white;
$font-stack: "Merienda One", cursive;
$font-weight-bold: bold;
$font-size: 15px;
$border-weight: 1px solid;

// ANCHOR SASS @extend
%btn-style {
  color: $text-color;
  padding: 6px 24px;
  border: $border-weight $border-color;
  border-radius: 5px;
  text-decoration: none;
  font-size: $font-size;
  font-weight: $font-weight-bold;
}

%btn-move {
  position: relative;
  top: 2px;
}

%table-b-border {
  th,
  td {
    border-bottom: $border-weight $secondary-color;
  }
}

%purple-bg-border {
  border: $border-weight $dark-color;
  border-radius: 0.3rem;
  background-color: $primary-color;
  color: $text-color;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #1f2122;
  display: grid;
  grid-template-areas: 
      "n n n n n n n n n n n n"
      "p p p j j j j j j c c c"
      "p p p a a a a a a c c c"
      "f f f f f f f f f f f f";
  grid-gap: 20px;
  padding: 10px;
}

.wrapper > div {
  text-align: center;
  padding: 20px;
  font-size: 16px;
}

#navbar {
  max-width: 100%;
  height: 50px;
  padding: 5px;
  background-color: $primary-color;
  box-shadow: 0 1px 3px #1b5894, 0 1px 2px #1b5894;
  grid-area: n;
  align-items: center;
  justify-content: space-around;
  position: sticky;
    #speaker {
      color: $secondary-color;
      cursor: pointer;

      &:hover {
        color: linear-gradient(to bottom, #259ac5 5%, #092e3b 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#259ac5 ', endColorstr='#092e3b',GradientType=0);
        color: #092e3b;
      }
    }
    #btn-login {
      background-color: $secondary-color;
      @extend %btn-style;

      &:hover {
        background-color: linear-gradient(to bottom, #259ac5 5%, #092e3b 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#259ac5 ', endColorstr='#092e3b',GradientType=0);
        background-color: #092e3b;
      }
      &:active {
        @extend %btn-move;
      }
    }
  }
     

#jumbotron {
  width: 800px;
  height: 120px;
  background-color: $dark-color;
  border: $border-weight $primary-color;
  color: $secondary-color;
  grid-area: j;
  justify-self: center;
}

#canvas {
  width: 800px;
  height: 320px;
  background-color: $primary-color;
  grid-area: a;
  display: flex;
  justify-self: center;

  .panel-heading {
    width: 800px;
    height: 50px;
    background-color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .box {
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: space-between;

    .title {
      //@debugdisplay: flex;
    text-align: center;
    }

    .chalkboard {
     // display: flex;
    text-align: center;
    }

    .rounds {

    text-align: right;
    }
  }
}

#playlist {
  width: auto;
  height: 470px;
  background-color: $primary-color;
  grid-area: p;
  display: flex;
  justify-self: auto;
}

#chatroom {
  width: auto;
  height: 470px;
  background-color: $primary-color;
  grid-area: c;
  display: flex;
  
}

footer {
  width: 100%;
  height: 50px;
  background-color: $primary-color;
  grid-area: f;
  display: flex;
  justify-content: center;
  align-items: center;

    .panel-heading {
      width: 800px;
      height: 50px;
      background-color: $secondary-color;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  
}