@media only screen and (min-width: 375px) {
  .body {
    grid-template-areas: "n" "j" "a" "c" "p" "f";
    grid-gap: 5px;
  }
}
@media only screen and (min-width: 768px) {
  .body {
    grid-template-areas: "n" "j" "a" "c" "p" "f";
    grid-gap: 10px;
  }
}
@media only screen and (min-width: 1030px) {
  .body {
    grid-template-areas: "n" "j" "a" "c" "p" "f";
    grid-gap: 15px;
  }
}
@media only screen and (min-width: 1240px) {
  .body {
    grid-template-areas: "n" "j" "a" "c" "p" "f";
    grid-gap: 20px;
  }
}
#navbar #btn-login {
  color: white;
  padding: 6px 24px;
  border: 1px solid #d8ebf1;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

#navbar #btn-login:active {
  position: relative;
  top: 2px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #1f2122;
  display: grid;
  grid-template-areas: "n n n n n n n n n n n n" "p p p j j j j j j c c c" "p p p a a a a a a c c c" "f f f f f f f f f f f f";
  grid-gap: 20px;
  padding: 10px;
}

.wrapper > div {
  text-align: center;
  padding: 20px;
  font-size: 16px;
}

#navbar {
  max-width: 100%;
  height: 50px;
  padding: 5px;
  background-color: #adc5ce;
  box-shadow: 0 1px 3px #1b5894, 0 1px 2px #1b5894;
  grid-area: n;
  align-items: center;
  justify-content: space-around;
  position: sticky;
}
#navbar #speaker {
  color: #2b98c0;
  cursor: pointer;
}
#navbar #speaker:hover {
  color: linear-gradient(to bottom, #259ac5 5%, #092e3b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#259ac5 ", endColorstr="#092e3b",GradientType=0);
  color: #092e3b;
}
#navbar #btn-login {
  background-color: #2b98c0;
}
#navbar #btn-login:hover {
  background-color: linear-gradient(to bottom, #259ac5 5%, #092e3b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#259ac5 ", endColorstr="#092e3b",GradientType=0);
  background-color: #092e3b;
}
#jumbotron {
  width: 800px;
  height: 120px;
  background-color: #092e3b;
  border: 1px solid #adc5ce;
  color: #2b98c0;
  grid-area: j;
  justify-self: center;
}

#canvas {
  width: 800px;
  height: 320px;
  background-color: #adc5ce;
  grid-area: a;
  display: flex;
  justify-self: center;
}
#canvas .panel-heading {
  width: 800px;
  height: 50px;
  background-color: #2b98c0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#canvas .box {
  width: 800px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
#canvas .box .title {
  text-align: center;
}
#canvas .box .chalkboard {
  text-align: center;
}
#canvas .box .rounds {
  text-align: right;
}

#playlist {
  width: auto;
  height: 470px;
  background-color: #adc5ce;
  grid-area: p;
  display: flex;
  justify-self: auto;
}

#chatroom {
  width: auto;
  height: 470px;
  background-color: #adc5ce;
  grid-area: c;
  display: flex;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #adc5ce;
  grid-area: f;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .panel-heading {
  width: 800px;
  height: 50px;
  background-color: #2b98c0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/*# sourceMappingURL=pic.css.map */
